# Sprint 1
google-genai
python-dotenv

# Sprint 2 (descomente quando for implementar o RAG)
# llama-index
# llama-index-embeddings-google-genai
# llama-index-llms-google-genai
# llama-index-vector-stores-postgres
# psycopg2-binary
# streamlit
